body {
    background-color: rgb(220, 223, 249)
}

#fondoBlanco {
    background-color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

}

#espacioTotal {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90vh;
    width: 95%;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgb(79, 98, 246), rgb(255, 255, 250));
    border-radius: 30px;
}

#espacioPregunta {
    height: 30%;
    font-style: italic;
    margin: 8% 5% 0%;
    font-size: 1.5em;
    color: white;
}

#opciones {
    margin: 8% 5% 0%;
    height: 80%;
    
    
}

div {
    margin-bottom: 5%;
}

label {
    background-color: rgb(78, 93, 206);
    padding: 10px 20px;
    width: 100%;
    color: white;
    font-size: 5vw;
    border-radius: 50px;
}

input:checked +label {
    color: rgb(78, 93, 206);
    text-shadow: 0px 2px 5px rgb(94, 94, 94);
    font-style: italic;
    background-color: white;
    
}

#separacionLabels {
    display: flex;  
}

input {
    display: none;
}

#btn {
    background-color: rgb(76, 113, 233);
    font-weight: bolder;
    color: white;
    font-size: 90%;
    padding: 4% 10%;
    border-width: 5px;
    border-radius: 50px;
    display: inline-flex;
}

button:active {
    background-color: #3e4e8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/*HOME/RESULTS*/
#start{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#centrarResultados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnStart {
    background-color: rgb(76, 113, 233);
    font-weight: bolder;
    color: white;
    font-size: 2em;
    padding: 20% 50%;
    border-width: 5px;
    margin-top: 2%;
    border-radius: 50px;
    display: inline-flex;
}

#btnResults{
    background-color: rgb(76, 113, 233);
    font-weight: bolder;
    color: white; 
    font-size: 150%;
    padding: 6% 20%;
    margin-top: 15%;
    position: sticky;
    border-radius: 50px;
    display: inline-flex;
}

#botonn{
    display: flex;
    flex-direction: column;
    align-items: center;
}



#datosguardados{
    border: solid black;
    border-style: dotted;
    border-radius: 30px;
    padding: 5%;
    font-size: 300%;
    background-color: rgb(224, 190, 102);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:hover{
    cursor:pointer;
}

#puntuaciones .ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: rgb(63, 60, 232);
    }

@media screen and (min-width: 768px) and (max-width:1366px) {
    #espacioPregunta {
        margin: 3% 3% 1%;
        font-size: 60px;
    }

    #opciones {
        margin-top: 5%;
        margin-bottom: 0%;
        margin-left: 5%;
        font-size: 4vh;
    }

    h1 {
        font-size: 500%;
    }
    
    #btnStart {
        font-size: 450%;
    }
}

@media screen and (min-width: 1266px) {
    main {
        margin-top: 2%;
    }

    #espacioPregunta {
        font-size: 300%;
        margin-top: 2%;
    }

    #opciones {
        margin-top: 2%;
        margin-left: 0%;
    }

    label{
        font-size: 300%; 
        font-size: 200%;
    }

    #btn {
        margin-bottom: 2%;
        padding: 1% 3%;
    }

    h1 {
        font-size: 600%;
    }

    #btnStart {
        font-size: 300%;
    }
}