.fondoAzul {
    background-color: rgb(214, 233, 255);
    height: 90vh;
}

#fondoBlanco {
    background-color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#espacioTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 95%;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgb(111, 178, 255), rgb(255, 255, 250));
    border-radius: 30px;
}

#espacioPregunta {
    height: auto;
    font-style: italic;
    margin: 8% 5% 5%;
    font-size: 7vw;
    color: white;
    max-width: 90%;
    word-wrap: break-word;
}

#opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin: 0% 50% 0%;
    height: 60%;
}

div {
    margin-bottom: 5%;
}

#formatoRespuestas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 250px;
    color: white;
    font-size: 120%;
    text-align: center;
    background-color: rgb(78, 93, 206);
    border-radius: 50px;
    padding: 10px 20px;
}

input:checked+label {
    color: rgb(78, 93, 206);
    text-shadow: 0px 2px 5px rgb(94, 94, 94);
    font-style: italic;
    background-color: white;
}

input {
    display: none;
}

#btn {
    background-color: rgb(76, 113, 233);
    font-weight: bolder;
    color: white;
    font-size: 110%;
    padding: 5% 40%;
    border-width: 5px;
    border-radius: 50px;
    display: inline-flex;
}

#formatoNext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:active {
    background-color: #3E4E8E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*HOME/RESULTS*/
#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
}

h1 {
    color: rgb(23, 27, 45);
    text-shadow: 0px 4px rgb(59, 85, 92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-bottom: 70px;
}

#centrarResultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btnStart {
    background-color: rgb(76, 113, 233);
    font-weight: bolder;
    color: white;
    font-size: 2.5em;
    padding: 10% 20%;
    border-width: 5px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    width: 140%;
}

#btnResults {
    background-color: rgb(76, 113, 233);
    font-weight: bolder;
    color: white;
    font-size: 150%;
    padding: 6% 20%;
    margin-top: 15%;
    position: sticky;
    border-radius: 50px;
    display: inline-flex;
}

#botonn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#datosguardados {
    border: solid rgb(211, 238, 115);
    border-style: dotted;
    border-radius: 30px;
    padding: 5%;
    font-size: 300%;
    background-color: rgb(224, 190, 102);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

input:hover {
    cursor: pointer;
}

#puntuaciones .ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: rgb(63, 60, 232);
}

#centrarGraph {
    margin-right: 450px;
}

@media screen and (min-width: 768px) and (max-width:1366px) {
    #espacioPregunta {
        margin: 3% 3% 1%;
        font-size: 60px;
    }

    #opciones {
        margin-top: 5%;
        margin-bottom: 0%;
        margin-left: 5%;
        font-size: 4vh;
    }

    h1 {
        font-size: 500%;
    }

    #btnStart {
        font-size: 450%;
    }
}

@media screen and (min-width: 1266px) {
    main {
        margin-top: 2%;
    }

    #espacioPregunta {
        font-size: 300%;
        margin: 2% 5% 1%;
    }

    label {
        font-size: 300%;
        width: 1400px;
        margin-bottom: 2%;
    }

    #formatoRespuestas {
        display: contents;
    }

    #btn {
        margin-bottom: 2%;
        padding: 5% 50%;
    }

    h1 {
        font-size: 600%;
    }

    #btnStart {
        font-size: 300%;
    }
}